[user]
	email = vince.r.cooley@gmail.com
	name = Vince Cooley
	signingkey = 6B9FF2461132CFF0
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[core]
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[tag]
	gpgSign = true
    sort = version:refname
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
