[user]
	email = vince.r.cooley@gmail.com
	name = Vince Cooley
	signingkey = 6B9FF2461132CFF0
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[core]
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[tag]
	gpgSign = true
